/* SignUpPage.css */

.full-height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #84fab0, #84fab0 10%, #8fd3f4 90%, #8fd3f4);
}

.signup-form {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.link-login {
  color: #007bff;
}

.link-login:hover {
  color: #0056b3;
}
